/* You can add global styles to this file, and also import other style files */
$main_background_color: white;
$chat_text_background_color: pink;
$input_border_color: green;
$button_background_color: blue;
$button_text_color: white;
$font-color: black;
